{
  "extends": [
    "airbnb-typescript/base"
  ],
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "rules": {
    "import/prefer-default-export": "off",
  },
  "overrides": [
    {
      "files": [
        "scripts/**/*"
      ],
      "rules": {
        "import/no-extraneous-dependencies": "off"
      }
    }
  ],
  "settings": {
    "import/core-modules": [
      "electron"
    ]
  }
}